.mal{
  background-color: #3055ab !important;
}
.mal:hover{
  background-color: #3863c7 !important;
}

.anilist{
  background-color: #424566 !important;
}
.anilist:hover{
  background-color: #4d5178 !important;
}

.anidb{
  background-color: #424966 !important;
}
.anidb:hover{
  background-color: #4d5578 !important;
}

.kitsu{
  background-color: #523c51 !important;
}
.kitsu:hover{
  background-color: #634962 !important;
}

/* .reddit{
  background-color: #eb580C !important;
}
.reddit:hover{
  background-color: #db5004 !important;
} */

.official{
  background-color: #464c68 !important;
}
.official:hover{
  background-color: #4d5473 !important;
}
